body{
    background-color: coral;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0 auto;
    font-size: 14px;
}

.header{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 auto;
}

.header img{
    width: 250px;
    height: 250px;
}

.header h1{
    margin: 0 auto;
    justify-content: center;
}

main{
    padding: 35px 10px;
    display: flex;
    flex-direction: column;
}

.contenedor-principal{
    display: flex;
    flex-direction: row;
}

.seccion-titulo {
    width: 100%;
    padding-bottom: 20px;
}

legend{
    font-size: 20px;
    text-align: center;
}

.abm{
    display: flex;
    flex-direction: row;
}

#table{
    width: 100%;
}

input{
    cursor: pointer;
}

th, td{
    border: 1px solid black;
    padding: 5px 10px;
}

tr{
    height: 30px;
    width: 30%;
}

th{
    text-transform: capitalize;
    background-color: aqua;
}

td{
    text-align: center;

}

tr:hover{
    background-color: lightblue;
    text-decoration: underline;
}

.spinner{
    position: relative;
    border: 6px solid rgba(0, 0, 0, 0.1);
    margin: 15px auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-left-color: #09f;
    display: none; 
    animation: girar 1s ease infinite;
}

@keyframes girar{
    0%{
      transform: rotate(0deg);
    }
  
    100%{
      transform: rotate(360deg);
    }
}

.header img{
    padding-left: 15px;
}

.header nav{
    padding-right: 35px;
    position: relative;
    text-align: right;
}

.header nav li{
    display: block;
    text-align: left;
    margin: 0 0 0 15px;
    padding: 5px 10px;
}

.header nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: blue;
    text-decoration: underline;
}

body h2{
    text-transform: uppercase;
    text-align: center;
}

.seccion-titulo img{
    width: 100%;
    height: 200px;
}

.botones input{
    font-weight: bold;
    padding: 5px 10px;
    width: 100%;
}

.botones input:hover{
    text-decoration: underline;
    color: darkblue;
    background-color: lightblue;
}


.footer{
    display: flex;
    background-color: darkgray;
    margin: 0 auto;
    padding: 5px 15px;
    justify-content: space-between;
}

.footer nav{
    position: relative;
    text-align: left;
}

.footer nav li{
    display: inline;
    text-align: left;
    margin: 0 0 0 15px;
    padding: 5px 10px;
}

.footer nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.footer nav a:hover{
    color: blue;
    text-decoration: underline;
}

.footer p{
    font-weight: bold;
    text-transform: capitalize;
    text-align: right;
    font-size: 15px;
}

.botones-con-iconos{
    display: flex;
    flex-direction: row;
}

.botones-con-iconos input{
    width: 100%;
    height: 16px;
}

.botones-con-iconos img{
    width: 30px;
    height: 35px;
    padding-right: 10px;
}
